1 - Pipelines/pl_strava_ingestion_daily.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "1db7da76-2367-a7fa-44a2-eb75bba8dad8",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "01_bronze",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "8e72b066-444a-a73a-451e-c624e9c0d334",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "02_silver_activities",
        "dependsOn": [
          {
            "activity": "01_bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "38ffeb15-f5c0-86f2-4410-d6c91444655e",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "02_silver_gears",
        "dependsOn": [
          {
            "activity": "01_bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "b41db6a3-e8b5-a400-4673-feb387b294d6",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "03_gold_gears",
        "dependsOn": [
          {
            "activity": "02_silver_gears",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "d0561223-fcf6-ac72-4603-bf6c95cca6ee",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "03_gold_activities",
        "dependsOn": [
          {
            "activity": "02_silver_activities",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "c157d544-1f36-a814-40a6-92cb377484de",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "04_gold_dim_snapshot",
        "dependsOn": [
          {
            "activity": "01_bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "5d33801e-3a1c-8883-4a92-b2278e72200e",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "04_gold_dim_calendar",
        "dependsOn": [
          {
            "activity": "01_bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@and(\n    equals(activity('01_bronze').status, 'Succeeded'),\n    and(\n        equals(activity('02_silver_activities').status, 'Succeeded'),\n        and(\n            equals(activity('03_gold_activities').status, 'Succeeded'),\n            equals(activity('04_gold_dim_snapshot').status, 'Succeeded')\n        )\n    )\n)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Office365Email",
              "typeProperties": {
                "body": "<p>Your Microsoft Fabric Pipeline execution succeed !&nbsp;</p>\n<p>Great Job !&nbsp;</p>\n<ul>\n  <li>Workspace ID : @{pipeline().DataFactory}</li>\n  <li>Pipeline ID : @{pipeline().Pipeline}</li>\n  <li>Pipeline run ID : @{pipeline().RunId}</li>\n</ul>",
                "to": "y.betton@en1clic.com",
                "subject": "Fabric Pipeline Success"
              },
              "externalReferences": {
                "connection": "624ec57c-455b-4315-9fed-a6715f848814"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Office365Email2",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Office365Email",
              "typeProperties": {
                "body": "<p>Your Microsoft Fabric Pipeline execution failed !</p>\n<p>Bad luck !&nbsp;</p>\n<ul>\n  <li>Workspace ID : @{pipeline().DataFactory}</li>\n  <li>Pipeline ID : @{pipeline().Pipeline}</li>\n  <li>Pipeline run ID : @{pipeline().RunId}</li>\n  <li>Gold Activities : @{activity('03_gold_activities').output}</li>\n  <li>Gold Gears : @{activity('03_gold_gears').output}</li>\n  <li>Gold Snapshot : @{activity('04_gold_dim_snapshot').output}</li>\n  <li>Gold Calendar : @{activity('04_gold_dim_calendar').output}</li>\n</ul>",
                "to": "y.betton@en1clic.com",
                "subject": "Fabric Pipeline Failure"
              },
              "externalReferences": {
                "connection": "624ec57c-455b-4315-9fed-a6715f848814"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Office365Email3",
              "dependsOn": []
            }
          ]
        },
        "name": "If success",
        "dependsOn": [
          {
            "activity": "03_gold_activities",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "03_gold_gears",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "04_gold_dim_snapshot",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "04_gold_dim_calendar",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ]
  }
}